## .NET / Visual Studio
obj/
bin/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
msbuild.log
msbuild.err
msbuild.wrn

## Rider
.idea/
*.DotSettings.user

## OS
.DS_Store
Thumbs.db

## ASP.NET
**/launchSettings.json

## secrets
appsettings.Development.json
